body {
	background: url(../images/whitey.png);
	font-family: helvetica;
	margin: 0;
}

a { 
	color: #64728D; 
	border: none;
	border-bottom: 1px dotted #63728D;
	text-decoration: none;
}
a:hover { border-bottom-style: solid; }
a:visited { color: #8294B7; border-color: #8294B7; }

#container {
	margin: 0 auto;
	width: 960px;
}

header a {
	border: none;
	color: #64728D;
	font-size: 60px;
	text-shadow: 1px 1px 1px #AAA;
}

#content {
	float: left;
	width: 66%;
}

#content + aside {
	float: left;
	width: 33%;
}

.footer {
	margin: 2em 0 1em;
}

.column {
	
}

.width25, .width50, .width75 { float: left; }
.width25 { width: 25%; }
.width50 { width: 50%; }
.width75 { width: 75%; }

.clear, .clr { clear: both; }
.left { float: left; }
.right { float: right; }

.panel {
	
}

/* menus */
ul.vmenu {
	list-style: none;
	margin: 0;
}

ul.vmenu li {
	
}

ul.hmenu {
	list-style: none;
	margin: 0;
	text-align: center;
}

ul.hmenu li {
	display: inline-block;
	*display: inline;
	padding: 0 10px;
	zoom: 1;
}
/* end menus */