<article class="instapaper_body">
	<header>
		<h2 class="instapaper_title"><a href="{{ post.url }}">
			{{ post.title }}
		</a></h2>
	</header>
	
	{% if content %}
		{{ content }}
	{% else %}.
		{{ post.content }}
	{% endif %}
	
	<section id="comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		    var disqus_shortname = 'jbennett'; // required: replace example with your forum shortname

		    // The following are highly recommended additional parameters. Remove the slashes in front to use.
		    var disqus_identifier = '{{ post.id }}';
		    var disqus_url = '{{ site.url }}/{{ post.url }}';

		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
	</section>
	
	<footer>
		<p>
			{% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture current_year %}{{ site.time | date: '%Y' }}{% endcapture %}
			{% if post_year != current_year %}
				{% capture date_format %}%A, %B %e %Y{% endcapture %}
			{% else %}
				{% capture date_format %}%A, %B %e{% endcapture %}
			{% endif %}
			
			Posted: <time pubdate datetime="{{ post.date | html_global_date }}">
				{{ post.date | date: date_to_long_string }}
			</time>
		</p>
	</footer>
</article>