<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page.title }}</title>
	<meta name="author" content="Jonathan Bennett">

	<!-- Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS: implied media="all" -->
	<link rel="stylesheet" href="css/html5.css">
	<link rel="stylesheet" href="css/screen.css">
</head>

<body>
	<div id="container">
		<header>
			<a href="/">Jonathan Bennett</a>
		</header>

		<div id="main" role="main">
			<section id="content">
				{{ content }}
			</section>
			
			<aside>
				<div>
					<h2>The Author</h2>
					<p>My name is Jonathan Bennett. I am a web developer from Sarnia, Ontario, Canada. I've work for <a href="http://ccistudios.com">CCI Studios</a> since 2009 where I build websites using Joomla! and contribute to the open source project named Nooku project.</p>
				</div>
				
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/posts.html">Posts</a></li>
						<li><a href="/profile.html">Profile</a></li>
					</ul>
				</nav>
				
				<nav>
					<h2>Previous Posts</h2>
					<ul>
						{% for post in site.posts limit:5 %}
							<li>
								<a href="{{ post.url }}">{{ post.title }}</a> -
								{{ post.date | date_to_long_string }}
							</li>
						{% endfor %}
						
						<li><a href="/posts.html">View More Posts</a></li>
					</ul>
				</nav>
				
				<h2>Contact me</h2>
				<nav class="horizontal">
					<ul>
						<li><a href="mailto:jbennett@ccistudios.com">jbennett@ccistudios.com</a></li>
						<li><a href="mailto:me@jbennett.me">me@jbennett.me</a></li>
						<li><a href="http://github.com/jbennett/">github.com/jbennett</a></li>
						<li><a href="http://twitter.com/jonbca7">twitter.com/jonbca7</a></li>
					</ul>
				</nav>
			</aside>
		</div>

		<footer>
			
		</footer>
	</div> <!--! end of #container -->

	<!-- not using js
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>-->

	<!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)
		}(document,'script'));
	</script>
</body>
</html>